<!DOCTYPE html>
<html>
<head>
<meta content="text/html;charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h1>Welcome to example.com,<%= @user.name %></h1>
  <p>
      You have successfully signed up to example.com,
      your username is: <%= @user.email %> <br>
  </p>
  <p>
    to login to the site just follow the link: <%= @url %></p>
  <p>Thanx for joining and have aq great day</p>
</body>
</html>
